<div class="container-fluid" id="app-container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-12">
        <h1 class="text-center">{{title}}</h1>
      </div>
      <div class="col-md-6">
        <p>List of avengers:</p>
        <users-list></users-list>
      </div>
    </div>
  </div>
</div>
